<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Products</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/iziToast.min.css">
</head>
<body>
	<div ng-app="products-app" ng-controller="products-controller">
		<div class="loading" ng-if="loading">
			<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
		</div>
<div class="container" >
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Productos</h2>
					</div>
					<div class="col-sm-6">
						<a href="#addProductModal" ng-click="modalTitle = 'Agregar Usuario'" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"></i> <span>Agregar Usuario</span></a>
					</div>
                </div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Vender</th>
							<th>Nombre</th>
							<th>Referencia</th>
							<th>Precio</th>
							<th>Peso</th>
							<th>Categoria</th>
							<th>stock</th>
							<th>Fecha de Creación</th>
							<th>Fecha última venta</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, product) in products">
							<td><a href="#" ng-click="sell(product.id, key);"><i class="fa fa-shopping-cart"></i></a></td>
							<td>{{product.name}}</td>
							<td>{{product.reference}}</td>
							<td>{{product.price}}</td>
							<td>{{product.weight}}</td>
							<td>{{product.category.name}}</td>
							<td>{{product.stock}}</td>
							<td>{{product.created_at}}</td>
							<td>{{product.sold_at}}</td>
							<td>
								<a href="#addProductModal" ng-click="editProduct(product, key);" class="edit" data-toggle="modal"><i class="fa fa-pencil"></i></a>
								<a href="#" ng-click="deleteProduct(product.id, key);" class="delete"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
            
        </div>
    </div>
	<!-- Modal HTML -->
	<div id="addProductModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form ng-submit="saveProduct()">
					<div class="modal-header">						
						<h4 class="modal-title">{{modalTitle}}</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label>Nombre</label>
							<input type="text" class="form-control" ng-model="tempProduct.name" required>
						</div>
						<div class="form-group">
							<label>Referencia</label>
							<input type="text" class="form-control" ng-model="tempProduct.reference" required>
						</div>
						<div class="form-group">
							<label>Precio</label>
							<input type="number" class="form-control" ng-model="tempProduct.price" required>
						</div>
						<div class="form-group">
							<label>Peso</label>
							<input type="number" class="form-control" ng-model="tempProduct.weight" required>
						</div>
						<div class="form-group">
							<label>Categoria</label>
							<select ng-model="tempProduct.category_id" class="form-control" ng-options="value.id as value.name for (key, value) in categories" required>
								
							</select>
						</div>
						<div class="form-group">
							<label>Stock</label>
							<input type="number" class="form-control" ng-model="tempProduct.stock">
						</div>

					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Guardar">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/iziToast.min.js"></script>
<script src="assets/js/script.js"></script>

</body>
</html>